<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975262816476-qt2hm8qv50ts88baum26o87jo7pu07ks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975262816476-qt2hm8qv50ts88baum26o87jo7pu07ks</string>
	<key>API_KEY</key>
	<string>AIzaSyBnVsworP_M7Cv0kLYXMpFNonpzDDVh1GQ</string>
	<key>GCM_SENDER_ID</key>
	<string>975262816476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dynamicaccesssolutions.carapp.carApp</string>
	<key>PROJECT_ID</key>
	<string>firecar-4251d</string>
	<key>STORAGE_BUCKET</key>
	<string>firecar-4251d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975262816476:ios:fb32b908232e2f66a5fc19</string>
</dict>
</plist>